.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding: 10px;
    margin-top: 3rem;
}

.inputGroup {
    display: flex;
    justify-content: space-between;
}

.inputField {
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    height: 35px;
    box-sizing: border-box;
    width: 60%;
    margin: .5rem;
}

input {
    padding-left: 1.5rem;
}

.inputField::placeholder{
    padding-left: 1.5rem;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #0D0D0D;
}

.quantityInput {
    width: 30%;
    margin: .5rem;
}

.btn {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    height: 40px;
    margin-top: 3rem;
    border: 0;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.1em;
    color: #FFFFFF;

}