@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.navbar{
    width: 100%;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h4 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin-right: 20px;
}

.logoSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logoSection img {
    width: 31.31px;
    height: 26.22px;    
    margin: .5rem;
}

.logoSection h1 {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20.7482px;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
}

